<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="watch" type="BankReportMonitor.Configuration.WatchHandleSection,BankReportMonitor" />
  </configSections>
  <watch>    
    <dir name="SCB_PAYMUL" path="C:\D\Projects\CNOOC\EDIBankingStatus\EDI\paymul" lastAction="Backup" lastPath="C:\D\Projects\CNOOC\EDIBankingStatus\EDI\backup" type="EDIBankingStatus.ReportProcess, EDIBankingStatus, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <dir name="SCB_BANSTA" path="C:\D\Projects\CNOOC\EDIBankingStatus\EDI\bansta" lastAction="Delete" type="EDIBankingStatus.ReportProcess, EDIBankingStatus, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <dir name="SCB_CONTRL" path="C:\D\Projects\CNOOC\EDIBankingStatus\EDI\contrl" lastAction="Delete" type="EDIBankingStatus.ReportProcess, EDIBankingStatus, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <dir name="HSBC_MT940" path="C:\D\SourceCode\GlobalBank\Instructions\ToTMS\HSBC\MT940" lastAction="Backup" lastPath="C:\D\SourceCode\GlobalBank\Instructions\Backup" type="BankResponseParser.HsbcMT940, BankResponseParser, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <dir name="SCB_MT940" path="C:\D\SourceCode\GlobalBank\Instructions\ToTMS\SCB\MT940" lastAction="Backup" lastPath="C:\D\SourceCode\GlobalBank\Instructions\Backup" type="BankResponseParser.ScbMT940, BankResponseParser, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <dir name="SCB_FINSTA" path="C:\D\SourceCode\GlobalBank\Instructions\ToTMS\SCB\FINSTA" lastAction="Backup" lastPath="C:\D\SourceCode\GlobalBank\Instructions\Backup" type="BankResponseParser.ScbFinsta, BankResponseParser, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <dir name="SCB_CSV" path="C:\D\SourceCode\GlobalBank\Instructions\ToTMS\SCB\CSV" lastAction="Backup" lastPath="C:\D\SourceCode\GlobalBank\Instructions\Backup" type="BankResponseParser.ScbCsv, BankResponseParser, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </watch>
  <appSettings>    
    <add key="elapse" value="10" />
  </appSettings>
</configuration>