<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>    
    <section name="BankResponseSaveHandleSection" type="BankResponseParser.Configuration.BankResponseSaveHandleSection, BankResponseParser, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>  
  <BankResponseSaveHandleSection>
    <save balance="BalanceQueryResponse" statement="HistoryStatementQueryResponse" namePattern="" savePath="C:\D\NewBI\Program\data\response"/>
  </BankResponseSaveHandleSection>
</configuration>