<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BankMap" type="EDIBankingStatus.BankMapSectionHandler,EDIBankingStatus" />
    <section name="ReportMap" type="EDIBankingStatus.ReportMapSectionHandler,EDIBankingStatus" />
  </configSections>
  <BankMap>
    <map identifier="CITIBK-EDI" value="CITI" />
    <map identifier="HEXAGON[-|\s]ABC" value="HSBC" />
    <map identifier="SCBVH2HP" value="SCB" />
    <map identifier="SCBVH2H1" value="SCB" />
  </BankMap>
  <ReportMap>
    <map identifier="UNH\+\d+\+CONTRL" value="CONTRL" />
    <map identifier="BANSTA" value="BANSTA" />
    <map identifier="PAYMUL" value="PAYMUL" />
  </ReportMap>
  <connectionStrings>
    <add name="orcl" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.253.148.222)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl.internal.sungard.corp)));User ID=DOTCOM;Password=DOTCOM;" providerName="System.Data.OracleClient" />
    <add name="sqlserver" connectionString="Data Source=CHNSHALP100322\SQLSERVER2008R2;Initial Catalog=DOTCOM;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="currentDB" value="sqlserver" />
  </appSettings>
</configuration>