<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="swiftPaymentStatusHandleSection" type="SwiftPaymentStatus.Configuration.SwiftPaymentStatusSection, SwiftPaymentStatus, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <swiftPaymentStatusHandleSection>
    <swiftPaymentStatus>
      <status level="FILE" code="ACCP" result="P" desc="Preceding check of technical validation was successful. Customer profile check was also successful."/>
      <status level="FILE" code="ACSC" result="P" desc="Settlement on the debtor's account has been completed."/>
      <status level="FILE" code="ACSP" result="P" desc="All preceding checks such as technical validation and customer profile were successful and therefore the payment initiation has been accepted for execution."/>
      <status level="FILE" code="ACTC" result="P" desc="Authentication and syntactical and semantical validation are successful."/>
      <status level="FILE" code="ACWC" result="P" desc="Instruction is accepted but a change will be made, such as date or remittance not sent."/>
      <status level="FILE" code="PART" result="P" desc="A number of transactions have been accepted, whereas another number of transactions have not yet achieved accepted status."/>
      <status level="FILE" code="PDNG" result="P" desc="Payment initiation or individual transaction included in the payment initiation is pending. Further checks and status update will be performed."/>
      <status level="FILE" code="RCVD" result="P" desc="Payment initiation has been received by the receiving agent."/>
      <status level="FILE" code="RJCT" result="F" desc="Payment initiation or individual transaction included in the payment initiation has been rejected."/>

      <status level="TRAN" code="ACCP" result="P" desc="Preceding check of technical validation was successful. Customer profile check was also successful."/>
      <status level="TRAN" code="ACSC" result="S" desc="Settlement on the debtors account has been completed."/>
      <status level="TRAN" code="ACSP" result="P" desc="All preceding checks such as technical validation and customer profile were successful and therefore the payment initiation has been accepted for execution"/>
      <status level="TRAN" code="ACTC" result="P" desc="Authentication and syntactical and semantical validation are successful."/>
      <status level="TRAN" code="ACWC" result="P" desc="Instruction is accepted but a change will be made, such as date or remittance not sent."/>
      <status level="TRAN" code="PDNG" result="P" desc="Payment initiation or individual transaction included in the payment initiation is pending. Further checks and status update will be performed."/>
      <status level="TRAN" code="RJCT" result="F" desc="Payment initiation or individual transaction included in the payment initiation has been rejected."/>
    </swiftPaymentStatus>
  </swiftPaymentStatusHandleSection>
</configuration>